### Question: Transaction Totals & Averages per User (with Minimum Transaction Threshold)

In [1]:
import pandas as pd
import sqlite3
import sql
sql.style = 'plain'
%load_ext sql
connection=sqlite3.connect("question_bank.db")
print("Successfully connected to SQL database")
# Connect to SQLite
%sql sqlite:///question_bank.db
print("success")

Successfully connected to SQL database
success

In [4]:
%%sql
DROP TABLE transactions;

CREATE TABLE transactions (
    transaction_id INT,
    user_id INT,
    transaction_amount DECIMAL(10,2),
    transaction_date DATE
);

INSERT INTO transactions VALUES
(1, 101, 50.00, '2025-08-01'),
(2, 101, 75.00, '2025-08-02'),
(3, 102, 20.00, '2025-08-01'),
(4, 103, 200.00, '2025-08-01'),
(5, 103, 300.00, '2025-08-03'),
(6, 103, 100.00, '2025-08-05'),
(7, 104, 500.00, '2025-08-01');

 * sqlite:///question_bank.db
Done.
Done.
7 rows affected.

[]

In [5]:
%%sql
select * from transactions

 * sqlite:///question_bank.db
Done.

[(1, 101, 50, '2025-08-01'),
 (2, 101, 75, '2025-08-02'),
 (3, 102, 20, '2025-08-01'),
 (4, 103, 200, '2025-08-01'),
 (5, 103, 300, '2025-08-03'),
 (6, 103, 100, '2025-08-05'),
 (7, 104, 500, '2025-08-01')]


* Summarize the total and average transaction amounts per user, 
* but only include users who have made at least 2 transactions.

In [13]:
%%sql

select 
    user_id,
    sum(transaction_amount) as total_per_user,
    avg(transaction_amount) as avg_per_user
from transactions
group by user_id
having count(*)>=2

 * sqlite:///question_bank.db
Done.

[(101, 125, 62.5), (103, 600, 200.0)]