### Bidirection Relationship

In [1]:
import pandas as pd
import sqlite3
import sql
sql.style = 'plain'
%load_ext sql
connection=sqlite3.connect("question_bank.db")
print("Successfully connected to SQL database")
# Connect to SQLite
%sql sqlite:///question_bank.db
print("success")

Successfully connected to SQL database
success

In [3]:
%%sql
DROP TABLE transactions;
CREATE TABLE transactions (
    sender_id INT,
    receiver_id INT,
    amount INT
);

-- Step 2: Insert sample data
INSERT INTO transactions (sender_id, receiver_id, amount) VALUES
(1, 2, 100),
(2, 1, 150),
(1, 3, 200),
(3, 1, 250),
(2, 4, 300);

 * sqlite:///question_bank.db
Done.
Done.
5 rows affected.

[]

In [4]:
%%sql
select * from transactions

 * sqlite:///question_bank.db
Done.

[(1, 2, 100), (2, 1, 150), (1, 3, 200), (3, 1, 250), (2, 4, 300)]

- You need to find unique pairs of users who have both sent money to each other (bidirectional).

* Example: (1,2) is valid because 1 → 2 and 2 → 1 exist.

* Example: (1,3) is valid for the same reason.

* Example: (2,4) is not valid (only one direction).

In [13]:
%%sql

select *
from transactions
where receiver_id IN (sender_id)

 * sqlite:///question_bank.db
Done.

[]

In [18]:
%%sql

SELECT *
FROM transactions m1
JOIN transactions m2
  ON m1.sender_id = m2.receiver_id AND m1.receiver_id = m2.sender_id

 * sqlite:///question_bank.db
Done.

[(1, 2, 100, 2, 1, 150),
 (2, 1, 150, 1, 2, 100),
 (1, 3, 200, 3, 1, 250),
 (3, 1, 250, 1, 3, 200)]